NODE_ENV= #development|production
WATCHPACK_POLLING=true # only for development, to enable hot reload in docker
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api #url to backend api for frontend
API_BASE_URL=http://host.docker.internal:8000/api #url to backend api for backend (docker), in production this should be the same as NEXT_PUBLIC_API_BASE_URL