NODE_ENV= #development|production
WATCHPACK_POLLING=true
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api #url to backend api for frontend
API_BASE_URL=http://host.docker.internal:8000/api #url to backend api for backend (docker)