.reload {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    display: none;
}

form[loading="true"] .reload {
    display: flex;
}

form[loading="true"] button[type="submit"] {
    display: none;
}

.reload .icon {
    width: 60px;
    height: 60px;
    border: 8px solid #ffef42;
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}