.container {
    background-image: url(/midia/background.jpg);
    background-size: 88%;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

.leftScreen > h1 {
    line-height: 3rem;
    color: var(--primary-color);
}

.mainScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

.leftScreen img{
    max-width:300px;
    max-height:300px;
    display: flex;
    width: auto;
    margin-right: 1rem;
    height: auto;
}

.leftScreen {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.rightScreen{
    width: 30%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rightScreen.full{
    width: 55%;
}

.cardLogin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--primary-color);
    border-radius: 20px;
    z-index: 9;
}

.cardShadow {
    width: 100%;
    border-radius: 20px;
    position: absolute;
    background-color: #46434360;
    height: 24.7rem;
    bottom: 7.5em;
}

.full .cardShadow {
    bottom: 1.5em;
}

.cardLogin > h1{
    color: var(--main-bg-color);
    font-weight: 800;
    margin: 0;
}

.cardLogin > button{
    margin-top: 8%;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1em;
}

.textfield > input, .textfield > select{
    width: 100%;
    height: 3.6rem;
    border-radius: 13px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 5px 20px #adadad;
    outline: none;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1.4px solid var(--secondary-bg-color);
    margin-top: 8px;
}

.textfieldPair {
    display: flex;
    justify-content: space-between;
}

.textfieldPair .textfield {
    width: 49% !important;
}

.fields .textfield input, .fields .textfield select {
    height: 3.2em;
}

.textfieldPair select {
    font-size: .9rem;
}

 .mainScreen button {
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: #ffef42;
    height: 4rem;
    font-weight: 700;
    font-size: 2.1rem;
    cursor: pointer;
    margin-top: 1em;
}

.mainScreen >p, .cardLogin >p {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.mainScreen >p a, .cardLogin >p a {
    text-decoration: none;
    color: #4b4848;
}

.form {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.form label{
    text-align: center;
    color:#4b4848;
    font-size: 1.4rem;
    font-weight: 600;
}

.fieldsGroup {
    display: flex;
    justify-content: space-between;
}

.fields {
    width: 49%;
}

.terms {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem;
    color:#4b4848;
  }

.terms span{
    color: #ffef42;
}

.categoriesContainer {
    background-color: var(--primary-color);
    border-radius: 13px;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0px 5px 20px #adadad;
    border: 1.4px solid var(--secondary-bg-color);
}

.categoriesContainer .text >p {
    margin: .5em 0 0 0;
    font-size: .7em;
}


.openCategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.openCategories .text {
    width: 100%;
}

.openCategories h3 {
    margin: 0;
    width: 100%
}

.openCategories span {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    padding: 2px 10px;
    text-align: center;
    border-radius: 17px;
    margin-right: 5px;
  }

.categoriesContent {
    margin-top: 1em;
    background-color:var(--main-bg-color);
    border-radius: 13px;
    padding: 1em;
    position: relative;
}

.categoriesContent >p {
    margin: 0;
    position: absolute;
    right: 6%;
    font-size: 10px;
    cursor: pointer;
    font-weight: 600;
}

.categories {
    height: 10em;
    overflow-y: auto;
}

.category {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}

.category .checkbox {
    background-color: #ffffffa5;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 3px;
    width: 1em;
    height: 1em;
    margin: 0 .5em 0 0;
}

.category .checkbox .box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.category .checkbox .box i {
    font-size: 1.5em;
    position: relative;
    top: 1px;
}

.category p {
    margin: 0;
    font-weight: 700;
    text-transform: capitalize;
}