* {
    font-family: sans-serif !important;
    
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #000;
      border-radius: 10px;
      border: none;
    }
}

body {
    background: #F5EF52;
    margin: 0;
}