.container {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 92%;
  height: 90%;
  position: relative;
}

.boxShadow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  height: 95%;
  position: fixed;
  border-radius: 20px;
  border: none;
  background-color: #46434360;
  z-index: 9;
}

.boxContent {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  position: fixed;
  border-radius: 20px;
  background-color: var(--primary-color);
  z-index: 99;
}

.boxContent .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.sidebar {
  width: 90px;
  height: 95%;
  position: relative;
}

.sidebar .center {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 2px solid;
  color: #46434360;
}

.center {
  list-style: none;
  box-sizing: border-box;
  padding: auto;
}

.center ul {
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center a {
  color: var(--secondary-bg-color);
}

.center li {
  cursor: pointer;
  color: var(--secondary-bg-color);
  padding: 1em 0;
  display: flex;
  justify-content: center;
  width: 80%;
  position: relative;
}

.center li::after {
  content: "";
  width: 75%;
  height: 1.5px;
  background-color: #46434360;
  position: absolute;
  bottom: -1px;
}

.center li:last-child {
  top: 1em;
}

.center li:last-child::after {
  display: none;
}

.center li.active {
  background: var(--main-bg-color);
  color: #fff;
  border-radius: 7px;
  margin: 5px;
}

.center li.active::after {
  bottom: -6px;
}

.center h2 {
  padding-bottom: 0rem;
  padding-left: 0rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.center i {
  font-size: 1.8rem;
}

.center .perfil i {
  font-size: 4rem;
  color: var(--secondary-bg-color);
  margin: 0 10px;
}

.content .screen {
  width: 100%;
  height: 93%;
  margin: 1.5em;
  overflow: hidden auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
