:root {
  --main-bg-color: #F5EF52;
  --secondary-bg-color: #000;
  --primary-color: #fff;
}

* {
    font-family: sans-serif !important;
    
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--secondary-bg-color);
      border-radius: 10px;
      border: none;
    }
}

body {
    background: var(--main-bg-color);
    margin: 0;
}